.main{
	text-align: center;
}

.card-container{
	width: 100%;
}

.card-list{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}


.card {
	width: 120px;
	height: 200px;
	background-color:cyan;
	&:hover{
		color: rgb(138, 113, 113);
		border: 3px solid rgb(138, 113, 113);
	}
	color: white;
	font-weight: 700;
	margin: 10px;
	border: 2px solid black;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.front-card {
	width: 120px;
	height: 200px;
	background-color: blanchedalmond;
	&:hover{
		border: 2px solid black;
	}
	margin: 10px;
	border: 2px solid black;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.img-card {
	width: 100px;
	height: 150px;
	align-self: center;
}

.button{
	height: 20px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: cyan;
	color: black;
	text-align: center;
	font-weight: 700;
}
.hidden {
	display: none;
}

.winner{
  border:5px solid yellow;
}
